<footer class="border-top footer text-muted mt-3">
  <div class="container">
    &copy; 2024 - ACPC HR System - <a href="/privacy">Privacy</a>
  </div>
</footer>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/site.js" asp-append-version="true"></script>
