<%-include("./admin-partials/header.ejs", { title: "Dashboard" })%>

<div class="container">
  <div class="row">
    <h1>Dashboard</h1>
  </div>
  <div class="row">
    <div class="col">
      <div class="card text-white bg-primary mb-3">
        <div class="card-body">
          <h5 class="card-title">Sales Today</h5>
          <p class="card-text">0</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card text-white bg-success mb-3">
        <div class="card-body">
          <h5 class="card-title">Sales This Month</h5>
          <p class="card-text">0</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card text-white bg-warning mb-3">
        <div class="card-body">
          <h5 class="card-title">Customers Count</h5>
          <p class="card-text">0</p>
        </div>
      </div>
    </div>
  </div>

  <%-include("./admin-partials/footer.ejs")%>
</div>
