<!-- Add Event Modal -->
<div class="modal fade" id="addEventModal" tabindex="-1" aria-labelledby="addEventModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addEventModalLabel">Add Event</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="add-event-form" action="/admin/addEvent" method="POST" class="user-form" enctype="multipart/form-data">
          <!-- Event Name -->
          <div class="mb-3">
            <label for="event-name" class="form-label">Event Name</label>
            <input type="text" class="form-control" id="event-name" placeholder="Enter event name" name="eventName" />
            <div id="event-name-error" class="invalid-feedback"></div>
          </div>

          <!-- Event Date -->
          <div class="mb-3">
            <label for="event-date" class="form-label">Event Date</label>
            <input type="date" class="form-control" id="event-date" name="eventDate" />
            <div id="event-date-error" class="invalid-feedback"></div>
          </div>

          <!-- Event Duration -->
          <div class="mb-3">
            <label for="event-duration" class="form-label">Event Duration</label>
            <input type="text" class="form-control" id="event-duration" placeholder="Enter event duration" name="eventDuration" />
            <div id="event-duration-error" class="invalid-feedback"></div>
          </div>

          <!-- Event Time -->
          <div class="mb-3">
            <label for="event-time" class="form-label">Event Time</label>
            <input type="time" class="form-control" id="event-time" name="eventTime" />
            <div id="event-time-error" class="invalid-feedback"></div>
          </div>

          <!-- Event Location -->
          <div class="mb-3">
            <label for="event-location" class="form-label">Event Location</label>
            <input type="text" class="form-control" id="event-location" placeholder="Enter event location" name="eventLocation" />
            <div id="event-location-error" class="invalid-feedback"></div>
          </div>

          <!-- Event Image -->
          <div class="mb-3">
            <label for="event-image" class="form-label">Event Image</label>
            <div class="file-input-container">
              <input type="file" class="form-control" id="event-image" name="imageFile" accept="image/*" />
              <div class="file-input-placeholder">Drag and drop an image or click to select</div>
            </div>
            <div id="event-image-error" class="invalid-feedback"></div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add Event</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="/js/addEvent.js"></script>
