
<div class="modal fade" id="viewBlog" tabindex="-1" aria-labelledby="viewBlogModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewBlogModalLabel">Blog Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p><strong>Title:</strong> <span id="view-blog-title"></span></p>
                <p><strong>Author:</strong> <span id="view-blog-author"></span></p>
                <p><strong>Brief:</strong> <span id="view-blog-brief"></span></p>
                <p><strong>Date:</strong> <span id="view-blog-date"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a id="view-on-page-btn" class="btn btn-primary" href="#">View on Separate Page</a>
            </div>
        </div>
    </div>
</div>